<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <div class='candlestick-container'>

    <% for (let i =0; i <candles.length;  i++ ) { %>
        <div class='candlestick'>
            <div class='upper-shadow' style="background: <%=candles[i].color%>; height: <%=candles[i].upperShadow%>%"></div>
            <div class='body' style="background: <%=candles[i].color%>; height: <%=candles[i].body%>%"></div>
            <div class='lower-sahdow' style="background: <%=candles[i].color%>; height: <%=candles[i].lowerShadow%>%"></div>
            <h6><%= candles[i].pair %></h6>
            <h6><%= candles[i].state %></h6>
        </div>
        <% } %>

    

  </div>
</body>
</html>